body {
    text-align: center;
    background-image: url(../Assets/math\ background\ 3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.65);
    background-blend-mode: overlay;
}

h1 {
    background-color: #750E21;
    color: white;
    font-style: italic;
    font-weight: 900;
}

main {
    margin-top: 20px;
    border: solid 5px #750E21;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: inline-block;
    width: 300px;
    height: 400px;
}

#display {
    border: solid 1px #750E21;
    border-radius: 4px;
    margin: 5px;
    width: 275px;
    height: 45px;
    font-weight: bold;
    font-size: x-large;
    text-align: right;
    color: #750E21;
}

table {
    display: flex;
    justify-content: center;
    size: 100px;
}

td {
    border: none;
    text-align: center;
}

button {
    height: 63px;
    width: 67px;
    cursor: pointer;
    border-radius: 4px;
    border: solid 1px #750E21;
    font-weight: bold;
    color: #750E21;
}

button:active {
    background-color: grey;
}

#clear-all {
    background-color: #ff0505;
    width: 100%;
    color: black;
}

#clear-all:active {
    background-color: #b60000;
}

#equal {
    background-color: #65B741;
    color: black;
}

#equal:active {
    background-color: #43772c;
}

.operation {
    background-color: black;
    color: white;
}

#backspace-button {
    background-color: #FFA447;
    color: black;
}

#backspace-button:active {
    background-color: #c27325;
}

footer p, footer a {
    margin-top: 50px;
    background-color: #750E21;
    color: white;
    font-style: italic;
    font-weight: 900;
    text-decoration: underline;
}

/* Media query untuk layar dengan lebar maksimal 600px */
@media screen and (max-width: 600px) {
    body {
      font-size: 10px;
    }
  }
    
  /* Media query untuk layar dengan lebar antara 601px dan 900px */
  @media screen and (min-width: 601px) and (max-width: 900px) {
    body {
      font-size: 16px;
    }
  }